<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@RenderSection("TitleContent")</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div id="header">
            <h1>F# Northwind Application</h1>
        </div>
        <div id="menu">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Products list", "List", "Products")
            @Html.ActionLink("About", "About", "Home")
        </div>
        <div id="main">
            @RenderBody()


            <div id="footer">
            This web application is powered by F#!
            </div>
        </div>
    </div>
</body>
</Html>